@import "../../../data/styles.css";

.article {
	display: flex;
}

.article a {
	text-decoration: none;
}

.article-left-side {
	min-width: 30%;
	max-width: 30%;
}

.article-right-side {
	flex-basis: 70%;
	min-width: 700px;
	mix-blend-mode: normal;
	border-radius: 20px;
	opacity: 0.8;
	padding: 30px;
	text-align: left;
}

.article-right-side:hover {
	background: var(--secondary-background);
	opacity: 1;
	transition: background-color 0.3s ease-in-out;
}

.article-date {
	padding-top: 30px;
	font-size: 15px;
	color: var(--tertiary-color);
}

.article-title {
	color: #000000;
	font-size: 16px;
	text-align: left;
	font-weight: 600;
}

.article-description {
	padding-top: 10px;
	font-size: 12px;
	color: var(--secondary-color);
	font-weight: 480;
	line-height: 25px;
}

.article-link {
	padding-top: 10px;
	font-size: 14px;
	color: var(--link-color);
	font-weight: 700;
}

@media (max-width: 1024px) {
	.article-left-side {
		min-width: 20%;
		max-width: 20%;
	}

	.article-right-side {
		flex-basis: 80%;
		min-width: 85%;
		max-width: 85%;
	}
}

.article-container .wrapper {
	position: relative;
	height: 300px;
	width: 400px;
	display: flex;
	flex-direction: row;
	transition: all 200ms ease-in-out;
}

.article-container .image-wrapper {
	height: 300px;
	width: 450px;
	overflow: hidden;
	border-radius: 5px;
	cursor: pointer;
	transition: all 200ms ease-in-out;
}

.article-container img {
	height: 300px;
	width: 450px;
	object-fit: cover;
	object-position: top;
	transition: all 200ms ease-in-out;
}

.article-container .book-design-image {
	object-position: center;
}

.article-container .header-wrapper {
	display: flex;
	flex-direction: column;
	position: absolute;
	height: 300px;
	width: 300px;
	left: -2.5%;
	transition: all 200ms ease-in-out;
	overflow: hidden;
	pointer-events: none;
}

.article-container h1 {
	position: relative;
	bottom: 0;
	height: 300px;
	color: #fff;
	font-size: 40px;
	font-family: Oswald;
	text-transform: uppercase;
	transition: all 200ms ease-in-out;
}

.article-container:hover img {
	transform: scale(1.5);
}

.article-container:hover h1 {
	bottom: 300px;
	transform: scale(0.4);
}

.article-container:hover .image-wrapper {
	width: 800px;
}

.article-container .article-link {
	text-decoration: none;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	position: absolute;
	bottom: 10px;
	left: 30px;
}

.article-container .header-wrapper h2 {
	opacity: 0;
	transition: opacity 200ms ease-in-out;
}

.article-container:hover .header-wrapper h2 {
	opacity: 1;
}

.article-container .image-wrapper::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: linear-gradient(135deg, rgba(209, 175, 255, 0), rgba(68, 62, 255, 0.5));
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	border-radius: 5px;
	pointer-events: none;
}

.article-container:hover .image-wrapper::after {
	opacity: 1;
}
