:root {
	/* ------- colors ------- */
	--primary-color: #ff6363;
	--secondary-color: #adc2ec;
	--tertiary-color: #5c94ac;
	--quaternary-color: #2d7c9a;
	--link-color: #e4799a;
	--primary-background: #2c2b4b;
	--secondary-background: #53476c;
	--tertiary-background: #1b1834;
	/* ---------------------- */

	background-color: #09051d;

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}
